* {
    margin: 0;
    padding: 0;
}


.container {
    width: 1480px;
    background-color: rgb(34, 33, 33);
    margin: 0 auto;
}

.menu {
    width: 1400px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.logo {
    margin-left: 60px;
}

.header_nav ul {
    display: flex;
}

.header_nav ul > li {
   list-style: none;
}

.header_nav ul li > a{
    padding: 20px;
    text-decoration: none;
}